<mat-sidenav-container class="main-container" class="mat-typography">
  
  <!-- SIDE NAV Starts Here -->
  <mat-sidenav #drawer position="end" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
  
    <div class="side-nav-container" >  
      <mat-toolbar color="accent">
        <span>Device Information</span>
      </mat-toolbar>
      <mat-list>
       <div *ngIf="device">
         <mat-list-item >
           <mat-icon matListIcon color="accent">developer_board</mat-icon> 
           <h2 matLine> Hardware </h2> 
           <p matLine>  IMEI: {{device.imei}} </p> 
           <p matLine *ngIf="device.hardware"> Model: {{device.hardware}} </p>
           <p matLine *ngIf="device.chipset"> Chipset: {{device.chipset}} </p>
         </mat-list-item> 
         
         <mat-list-item> 
           <mat-icon matListIcon color="accent">signal_cellular_alt</mat-icon> 
           <h2 matLine> Network </h2> 
           <p matLine *ngIf="device.last_apn"> APN: {{device.last_apn}} </p>
           <p matLine *ngIf="device.cellid && device.cellid.mcc"> MCC: {{device.cellid.mcc}} </p> 
           <p matLine *ngIf="device.cellid && device.cellid.mnc"> MNC: {{device.cellid.mnc}} </p>
           <p matLine *ngIf="device.cellid && device.cellid.sstrength"> Signal Strength: {{device.cellid.sstrength}} dBm</p> 
          </mat-list-item> 

         <mat-list-item> 
          <mat-icon matListIcon color="accent">access_time</mat-icon>
          <h2 matLine> Last seen </h2>  
          <p matLine> {{ device.last_update | amTimeAgo }} </p>
          </mat-list-item>
        </div>
      </mat-list>
    </div>

  </mat-sidenav>
  <!-- SIDE NAV Stops Here -->
  
  <!-- TOP BAR Starts Here -->
  <mat-toolbar color="primary">  
    <a href="/"><img src="../../assets/img/Sequans-Logo_White_Update.png"></a>
    <span class="fill-remaining-space"></span>
    <a mat-icon-button 
      matTooltip="Exit Device Dashboard"
      type="button"
      routerLink="/">
    <mat-icon>exit_to_app</mat-icon>
    </a>
    <button mat-icon-button 
      matTooltip="Show device information"
      type="button"
      aria-label="Toggle sidenav"
     (click)="drawer.toggle()" 
      *ngIf="isHandset$ | async">
    <mat-icon>menu_open</mat-icon>
    </button>
  </mat-toolbar>

  <!-- TOP BAR Stops Here -->

  <!-- Content starts Here -->

  <div class="grid-container" *ngIf = "device && cards | async as cards">
    <mat-grid-list cols="2" rowHeight="350px">

      <mat-grid-tile  *ngIf="device.position && cards.position as card" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}} 
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="map-container"#map *ngIf="device.position">
              <agm-map [latitude]="+device.position.latitude" [longitude]="+device.position.longitude" class="map"[zoom]="14">
                <agm-circle [latitude]="+device.position.latitude" [longitude]="+device.position.longitude" [radius]="device.position.accuracy"></agm-circle>
                <agm-marker [latitude]="+device.position.latitude" [longitude]="+device.position.longitude">
                  <agm-info-window>
                    <strong>[{{device.position.latitude}},{{device.position.longitude}}] 
                    {{device.position.timestamp | amTimeAgo}}</strong>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <div *ngFor="let item of sensorData | keyvalue">
        <mat-grid-tile *ngIf="cards.sensor as card"[colspan]="card.cols" [rowspan]="card.rows">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                {{item.key | titlecase}} Sensor Data 
              </mat-card-title>
            </mat-card-header>            
            <mat-card-content class="dashboard-card-content">
              <app-sensor-chart [data]="item.value.data" [legend] ="item.key" [units]="item.value.units"></app-sensor-chart>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </div>

      <mat-grid-tile  *ngIf="cards.events as card" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}} 
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-list dense>
              <div *ngFor="let event of events.slice().reverse()" class="event_list">
                <mat-list-item *ngIf="event.event_type == eventTypes.ButtonPress"> 
                   <mat-icon mat-list-icon>radio_button_checked</mat-icon>
                   <div matLine>
                     <strong> Button pressed </strong> {{event.timestamp | amTimeAgo}}
                   </div> 
                </mat-list-item>
                <mat-list-item *ngIf="event.event_type == eventTypes.SwitchOn">  <mat-icon mat-list-icon>toggle_on</mat-icon>
                  <div matLine>
                     <strong>Switch turned on </strong>{{event.timestamp | amTimeAgo}}
                  </div> 
                </mat-list-item>
                <mat-list-item *ngIf="event.event_type == eventTypes.SwitchOff"> 
                  <mat-icon mat-list-icon>toggle_off</mat-icon>
                  <div matLine>
                     <strong>Switch turned off </strong>{{event.timestamp | amTimeAgo}}
                  </div>
                </mat-list-item>
              </div>

            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile  *ngIf="cards.control as card" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}} 
            </mat-card-title>
            <div class="sync-icon" *ngIf="device.synced">
              <span matTooltip="Device configuration in sync!"> 
                <mat-icon color="accent" >sync</mat-icon>
              </span> 
              
            </div>
            <div class="sync-icon" *ngIf="!device.synced">
              <span matTooltip="Device configuration not in sync"> 
                <mat-icon color="warn">sync_disabled</mat-icon> 
              </span> 
              
            </div>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content control-card">
            <div class="form-container">
              <h4>Telemetry Periodicity: {{device.config.period}} seconds</h4>
                <mat-slider
                    class="example-margin"
                    [disabled]="!device.capabilities.period"
                    [max]="3600"
                    [min]="10"
                    [step]="1"
                    [thumbLabel]="true"
                    tickInterval="1"
                    [(ngModel)]="device.config.period"
                    name="period_slider"
                    (change)="setDeviceConfig()">
                </mat-slider>
              <h4>Low Power Mode:</h4>
              <mat-radio-group class="lpm-radio-group"
                [(ngModel)]="device.config.lpm" name="lpm" [disabled]="!device.capabilities.lpm" (change)="setDeviceConfig()">
                <mat-radio-button class = "lpm-radio-button" [value]="lowPowerMode.PSM">
                  {{lowPowerMode.PSM}}
                </mat-radio-button>
                <mat-radio-button class = "lpm-radio-button"[value]="lowPowerMode.IDLE">
                  {{lowPowerMode.IDLE}}
                </mat-radio-button>
                <mat-radio-button class = "lpm-radio-button"[value]="lowPowerMode.eDRX">
                  {{lowPowerMode.eDRX}}
                </mat-radio-button>
              </mat-radio-group>
              <h4>LED switch</h4>
              <mat-slide-toggle
                        class="led_toggle"
                        [(ngModel)]="device.config.leds[0]"
                        name="led0"
                        [disabled]="device.capabilities.leds < 1"
                        (change)="setDeviceConfig()">
                      LED #1
              </mat-slide-toggle>
              <mat-slide-toggle
                        class="led_toggle"
                        [(ngModel)]="device.config.leds[1]"
                        name="led1"
                        [disabled]="device.capabilities.leds < 2"
                        (change)="setDeviceConfig()">
                      LED #2
              </mat-slide-toggle>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

  <!-- Content Ends Here -->

</mat-sidenav-container>

<!-- Footer starts Here -->
<mat-divider></mat-divider>
<footer class="mat-typography">
  <mat-list dense>
    <mat-list-item>
      <h2 matLine> <a href="//www.sequans.com">Sequans Communications</a> {{year}}</h2>
      <a matLine href="//bitbucket.org/manubot/sqn-demo-iot-server" class="mat-small">Source Code</a>
      <a matLine href="" class="mat-small">Terms & Conditions</a>
    </mat-list-item>
  </mat-list>
</footer>
<!-- Footer Ends Here -->
