.main-container{
  height: 100vh;
}
.grid-container {
  margin: 20px;
}

.side-nav-container{
  min-width: 250px;
}


.dashboard-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height: 100%;
}


.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.map-container{
 height: 100%; 
}

.map{
  height: 100%
}


.event_list div{
  text-align: left;
}

.lpm-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.lpm-radio-button {
  margin: 5px;
}

.form-container{
  text-align: left;
  padding: 10px;
}

.led_toggle{
  margin: 5px;
}

.mat-slider-horizontal {
  width: 80%;
}

.control-card{

}

.sync-icon{
  position: absolute;
  top: 13px;
  right: 26px;
}

