
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-field {
  font-size: 1em;
  min-width: 300px;
}

.login-card {
  padding: 20px;
  text-align: center;
  
}

.login-card-title{
  text-align: center;
}

.login-card-content{
  padding: 20px;
}
