<div class="main-div mat-app-background">

  <mat-card class="login-card" color="">
    <mat-card-content class="login-card-content" >
      <img mat-card-image src="../../assets/img/Sequans-Logo_Retina-Color_Update.png">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
          <mat-card-content>
          <h2> DEMO IOT PLATFORM </h2>
          <div class="row">
            <div class="col">
              <mat-form-field class="login-field">
                <input matInput placeholder="Enter your device IMEI" formControlName="imei">
                <mat-hint>Enter the 15-digit IMEI. You may use dashes.</mat-hint>
                <mat-error *ngIf="addressForm.controls.imei.invalid">Invalid IMEI format</mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" [disabled]="!addressForm.valid" type="submit">See Device Dashboard</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>