

<div style="position: relative; height:100%">
  <canvas baseChart 
    [datasets]="lineChartData"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
